.prescriptions-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.5vw 5vw;
	gap: 2vw;
}

.pending-section,
.fulfilled-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5vw;

	a {
		padding-bottom: 1vw;
	}
}

.fulfilled-section {
	width: 100%;
}

.prescriptions-list {
	display: flex;
	flex-direction: column;
	gap: 0.5vw;
}
