.prescriptions-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.5vw 5vw;
}

.pending-section {
	width: 100%;
}

.fulfilled-section {
	width: 100%;
}

.prescriptions-list {
	display: flex;
	flex-direction: column;
	gap: 0.5vw;
}
