// colours

$system-white: #ffffff;
$system-black: #1a1a1a;

$sky: #00b2e3;

$light-sky: #c5eefa;
$light-green: #d1efd4;
$light-yellow: #f8e5c3;
$light-red: #ffe0e2;

$primary-color: $sky;
$secondary-color: $light-sky;
